<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,user-scalable=no">
    <title>活动结束</title>
    <link rel="stylesheet" href="/static/weixin/page/activeEnd/activeEnd.css">
    <link rel="stylesheet" href="/static/weixin/common/css/weui.css">
    <link rel="stylesheet" href="/static/weixin/common/css/weuix.css">
    <link rel="stylesheet" href="/static/weixin/common/css/common.css">
</head>
<body>
<div class="container">
    <img src="/static/weixin/img/picture@2x.png" alt="">
    {if $actInfo['active_tags'] eq 1}
    {notempty name="mer"}
    <p>商家名称：{$mer[0]['mer_name']}</p>
    <p>商家电话：{:getConf('site_customer')}</p>
    <p>详细地址：{$mer[0]['mer_address']}</p>
    <div class="buy">
        <p>购买须知：</p>
        {$actInfo.active_rules|raw}
    </div>
    {/notempty}
    {/if}
    <p>投诉电话：{:getConf('site_customer')}</p>
</div>
<script src="/static/weixin/common/js/zepto.min.js"></script>
<script src="/static/weixin/common/js/zepto.weui.min.js"></script>
<script src="/static/weixin/common/js/common.js"></script>
</body>
</html>