<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,user-scalable=no">
    <link rel="stylesheet" href="/static/weixin/common/css/weui.css">
    <link rel="stylesheet" href="/static/weixin/common/css/weuix.css">
    <link rel="stylesheet" href="/static/weixin/common/css/common.css">
    <link rel="stylesheet" href="/static/weixin/page/signUp/index.css">
    <title>个人中心</title>
</head>
<body>
<div class="container">
    <div class="weui-tab" id="t1" style="height:44px;">
        <div class="weui-navbar">
            <div class="weui-navbar__item">未使用</div>
            <div class="weui-navbar__item">已使用</div>
            <div class="weui-navbar__item">已过期</div>
        </div>
    </div>
    {foreach $list.apply1 as $vo=>$key}
    <div class="index0 index">
        <span>{$key.a_name}</span>
        <p class="font28 paddingTop30" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;width: 60%;">活动名称:{$key.a_name} | 商家名称:{$key.m_name}</p>
        <div class="display">
            <span>{$key.use_time}</span>
            <a href="{:url('coupons')}?id={$key.id}&tags=2" class="useBtn">立即使用</a>
        </div>
    </div>
    {/foreach}
    {foreach $list.apply2 as $vo=>$key}
    <div class="index1 index">
        <span>{$key.a_name}</span>
        <p class="font28 paddingTop30" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;width: 60%;">活动名称:{$key.a_name} | 商家名称:{$key.m_name}</p>
        <div class="display">
            <span>{$key.use_time}</span>
            <img class="itemCenter" src="/static/weixin/img/yishiyong@2x.png" alt="">
        </div>
    </div>
    {/foreach}

    {foreach $list.apply3 as $vo=>$key}
    <div class="index2 index">
        <span>{$key.a_name}</span>
        <p class="font28 paddingTop30" style="overflow: hidden;white-space: nowrap;text-overflow: ellipsis;width: 60%;">活动名称:{$key.a_name} | 商家名称:{$key.m_name}</p>
        <div class="display">
            <span>{$key.use_time}</span>
            <img class="itemCenter" src="/static/weixin/img/yiguoqi@2x.png" alt="">
        </div>
    </div>
    {/foreach}
</div>
<script src="/static/weixin/common/js/zepto.min.js"></script>
<script src="/static/weixin/common/js/zepto.weui.min.js"></script>
<script src="/static/weixin/common/js/iscroll-lite.js"></script>
<script src="/static/weixin/common/js/common.js"></script>
<script>
    $(function(){
        $('.index').hide()
        $('.index1').show()
        $('#t1').tab({
            defaultIndex: 0,
            activeClass: 'tab-ee7b42',
            onToggle: function (index) {
                $('.index').hide()
                $('.index'+index).show()
            }
        })
    })
</script>
</body>
</html>