{extend name='admin@main'}

{block name="button"}
<!--{if auth("active/mer/add")}-->
<button data-open='{:url("add")}' data-title="添加商家" class='layui-btn layui-btn-sm layui-btn-primary'>添加商家</button>
<!--{/if}-->
<!--{if auth("active/mer/remove")}-->
<button data-action='{:url("remove")}' data-rule="id#{key}" class='layui-btn layui-btn-sm layui-btn-primary'>删除商家</button>
<!--{/if}-->
{/block}

{block name="content"}
<div class="think-box-shadow">
    {include file='mer/index_search'}
    <table class="layui-table margin-top-10" lay-skin="line">
        {notempty name='list'}
        <thead>
        <tr>
            <th class='list-table-check-td think-checkbox'>
                <input data-auto-none data-check-target='.list-check-box' type='checkbox'>
            </th>
            <th class='text-left nowrap' width="10%">商家名称</th>
            <th class='text-left nowrap' width="10%">商家头像</th>
            <th class='text-left nowrap' width="10%">商家电话</th>
            <th class='text-left nowrap' width="10%">商家账户</th>
            <th class='text-left nowrap' width="10%">商家账户余额</th>
            <th class='text-left nowrap' width="10%">商家授权结束时间</th>
            <th class='text-left nowrap' width="10%">商家创建时间</th>
            <th class='text-left nowrap' width="10%">授权状态</th>
            <th>操作</th>
        </tr>
        </thead>
        {/notempty}
        <tbody>
        {foreach $list as $key=>$vo}
        <tr data-dbclick>
            <td class='list-table-check-td think-checkbox'><input class="list-check-box" value='{$vo.id}' type='checkbox'></td>
            <td class='text-left nowrap'>
                {$vo.mer_name}
            </td>
            <td class='text-left nowrap'>
                <img data-tips-image style="width:60px;height:60px" src="{$vo.mer_headimg|default=''}" class="margin-right-5 text-top">
            </td>
            <td class='text-left nowrap'>
                {$vo.mer_tel}
            </td>
            <td class='text-left nowrap'>
                {$vo.mer_account}
            </td>
            <td class='text-left nowrap'>
                {$vo.mer_price}
            </td>
            <td class='text-left nowrap'>
                {$vo.mer_auth}
            </td>
            <td class='text-left nowrap'>
                {$vo.mer_ct}
            </td>
            <td class='text-left nowrap'>
                {if $vo.is_status eq 0}
                <span class="layui-bg-red">过期</span>
                {else}
                <span class="layui-bg-blue">正常</span>
                {/if}
            </td>
            <td class='text-left nowrap'>

                <div class="nowrap margin-bottom-5">
                    {if auth("active/mer/edit")}
                    <a data-dbclick class="layui-btn layui-btn-sm" data-open='{:url("edit")}?id={$vo.id}'>编 辑</a>
                    {else}
                    <a data-tips-text="您没有编辑商品的权限哦！" class="layui-btn layui-btn-sm layui-btn-primary layui-disabled">编 辑</a>
                    {/if}

                    {if isset($vo.is_permissions) and $vo.is_permissions eq 1}
                    <!--{if auth("active/mer/forbid")}-->
                    <a class="layui-btn layui-btn-sm layui-btn-warm" data-action="{:url('Noaudit')}" data-value="id#{$vo.id};is_permissions#0">取消审核</a>
                    <!--{else}-->
                    <a data-tips-text="您没有权限哦！" class="layui-btn layui-btn-sm layui-btn-primary layui-disabled">取消审核</a>
                    <!--{/if}-->
                    {else}
                    <!--{if auth("active/mer/resume")}-->
                    <a class="layui-btn layui-btn-sm layui-btn-warm" data-action="{:url('okAudit')}" data-value="id#{$vo.id};is_permissions#1">通过审核</a>
                    <!--{else}-->
                    <a data-tips-text="您没有权限哦！" class="layui-btn layui-btn-sm layui-btn-primary layui-disabled">通过审核</a>
                    <!--{/if}-->
                    {/if}
                </div>

                <div class="nowrap margin-bottom-5">
                    {if auth("active/mer/remove")}
                    <a class="layui-btn layui-btn-sm layui-btn-danger" data-confirm="确定要删除数据吗?" data-action="{:url('remove')}" data-value="id#{$vo.id}">删 除</a>
                    {else}
                    <a data-tips-text="您没有删除商品的权限哦！" class="layui-btn layui-btn-sm layui-btn-primary layui-disabled">删 除</a>
                    {/if}

                </div>

            </td>
        </tr>
        {/foreach}
        </tbody>
    </table>

    {empty name='list'}<span class="notdata">没有记录哦</span>{else}{$pagehtml|raw|default=''}{/empty}

</div>
{/block}
