/*
* @Author: wangyongping
* @Date:   2019-07-24 20:45:48
* @Last Modified by:   princebot
* @Last Modified time: 2019-07-24 21:02:03
*/
.container{
	font-size: 10px;
	
}
.dec{
	margin-top: .9rem;
	margin-bottom: .6rem;
	font-size: .32rem;
	color: #202120;
	padding-left: .4rem;
}
.moneys,.inputPrice {
	padding-left: .4rem;
}
.dec > span,.moneys{
	color: #666;
	font-size: .28rem;
}
.inputPrice{
	margin-top: .4rem;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #ccc;
}
.inputPrice > p{
	font-size: .8rem;
	color: #202120;
}
.inputPrice > input{
	border: 0px;
	width: 70%;
	font-size: .6rem;
	color: #ee7b42;
	outline:medium;
}
.btnTixian{
	width: 90%;
	margin: 0 auto;
	display: inline-block;
	background-color: #ee7b42;
	border-radius: 50px;
	text-align: center;
	height: .8rem;
	line-height: .8rem;
	color: #fff;
	font-size: .32rem;
	margin-top: .8rem;
	margin-bottom: .3rem;
}
.center{
	text-align: center;
}
.mydec{
	margin-top: 0rem;
	margin-bottom: 0rem;
}
.mydec > span{
	color: #ee7b42;
}